{% extends 'main/base.html' %}
{% load static %}

{% block title %} {{ headerTitle }} {% endblock %}

{% block content %}
    <section id="achievements">
        <div class="container">
            <h1 class="about--title d-flex align-items-center">
                Номенклатура дел    
            </h1>
            <div class="nom-container">
                {% for doc in nomenklatura %}
                <a target="_blank" href="#" class="nom-block">
                    <img class="nom-img" src="http://s1.iconbird.com/ico/2013/10/464/w512h5121380984756folder.png" alt="">
                    <div class="nom-text">
                        {{ doc.fileName }}
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

