{% extends 'main/base.html' %}

{% block title %}
    
    {% for elTitle in teachers %}
        {{ elTitle.name }} 
    {% endfor %}

{% endblock %}

{% block content %}
    <section id="teacher">

        {% for el in teachers %}
            <div class="container">
                
                    <div class="teacher--header d-flex justify-content-start align-items-start">
                        <div class="teacher--img">
                            <img src="../../media/{{ el.photo }}" alt="Преподаватель">
                        </div>
                        <div>
                            <h3 class="teacher--name">{{ el.name }}</h3>
                            <div class="teaher--prof">{{ el.position }}</div>
                        </div>
                    </div>

                    <div class="teacher--header d-flex justify-content-center align-items-start">
                        <div class="teacher--left">
                            <h5 class="teacher--title">Базовое образование:</h5>
                        </div>
                        <div class="teacher--right">
                            <ul>
                                <li class="teacher--txt">{{ el.edu }}</li>
                            </ul>
                        </div>
                    </div>

                    <div class="teacher--header d-flex justify-content-center align-items-start">
                        <div class="teacher--left">
                            <h5 class="teacher--title">Основные этапы трудовой деятельности:</h5>
                        </div>
                        <div class="teacher--right">
                            <ul>
                                <li class="teacher--txt teacher--txt-line-height">
                                   {{ el.experience }}
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="teacher--header d-flex justify-content-center align-items-start">
                        <div class="teacher--left">
                            <h5 class="teacher--title">Сертификаты:</h5>
                        </div>
                        <div class="teacher--right">
                            <ul>
                                <li class="teacher--txt">{{ el.certificates }}</li>
                            </ul>
                        </div>
                    </div>

                    <div class="teacher--header d-flex justify-content-center align-items-start">
                        <div class="teacher--left">
                            <h5 class="teacher--title">Публикации:</h5>
                        </div>
                        <div class="teacher--right">
                            <ul>
                                <li class="teacher--txt">{{ el.publications }}</li>
                            </ul>
                        </div>
                    </div>

                    <div class="teacher--header d-flex justify-content-center align-items-start">
                        <div class="teacher--left">
                            <h5 class="teacher--title">Основные работы:</h5>
                        </div>
                        <div class="teacher--right">
                            <ul>
                                <li class="teacher--txt">{{ el.works }}</li>
                            </ul>
                        </div>
                    </div>

                    <div class="teacher--header d-flex justify-content-center align-items-start">
                        <div class="teacher--left">
                            <h5 class="teacher--title">Контакты:</h5>
                        </div>
                        <div class="teacher--right">
                            <ul>
                                <li class="teacher--txt">{{ el.contacts }}</li>
                            </ul>
                        </div>
                    </div>

            </div>
        {% endfor %}

    </section>
{% endblock %}