{% extends 'main/main.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <section id="teacher">
        <div class="container">
            
                <div class="teacher--header d-flex justify-content-start align-items-start">
                    <div class="teacher--img">
                        <img src="{% static 'img/Toroev_zav2.jpg' %}" alt="Тороев Асылбек Абакирович">
                    </div>
                    <div>
                        <h3 class="teacher--name">Тороев Асылбек Абакирович</h3>
                        <div class="teaher--prof">И.о. доц.кафедры «Информационные системы и технологии»</div>
                    </div>
                </div>

                <div class="teacher--header d-flex justify-content-center align-items-start">
                    <div class="teacher--left">
                        <h5 class="teacher--title">Базовое образование:</h5>
                    </div>
                    <div class="teacher--right">
                        <ul>
                            <li class="teacher--txt">Высшее, 1977, КГУ</li>
                        </ul>
                    </div>
                </div>

                <div class="teacher--header d-flex justify-content-center align-items-start">
                    <div class="teacher--left">
                        <h5 class="teacher--title">Основные этапы трудовой деятельности:</h5>
                    </div>
                    <div class="teacher--right">
                        <ul>
                            <li class="teacher--txt teacher--txt-line-height">
                                С 1970 рабочий
                                <br/>
                                С 1977 – 1980 учитель физики и математики СШРМ г.Фрунзе
                                <br/>
                                С 1980-1984 – аспирант, ст. лаборант ИНФХ АН Кирг ССР
                                <br/>
                                С 1984- 1985 м.н.с. Институт Физики АН Кирг. ССР
                                <br/>
                                С 1986-1991 научн.сотр. ФПИ
                                <br/>
                                С 1997-2003 ст. преп. ТУ «Дастан
                                <br/>
                                С 2003 по настоящее время и.о. доц каф. кафедры «Информационные системы и технологии»
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="teacher--header d-flex justify-content-center align-items-start">
                    <div class="teacher--left">
                        <h5 class="teacher--title">Сертификаты:</h5>
                    </div>
                    <div class="teacher--right">
                        <ul>
                            <li class="teacher--txt">4</li>
                        </ul>
                    </div>
                </div>

                <div class="teacher--header d-flex justify-content-center align-items-start">
                    <div class="teacher--left">
                        <h5 class="teacher--title">Публикации:</h5>
                    </div>
                    <div class="teacher--right">
                        <ul>
                            <li class="teacher--txt">42 научные статьи, 18 методических указаний</li>
                        </ul>
                    </div>
                </div>

                <div class="teacher--header d-flex justify-content-center align-items-start">
                    <div class="teacher--left">
                        <h5 class="teacher--title">Основные работы:</h5>
                    </div>
                    <div class="teacher--right">
                        <ul>
                            <li class="teacher--txt">2017-19г. Разработка уч. планов и методич пособий в соответствии с требованиями цифровизации процессов и систем</li>
                        </ul>
                    </div>
                </div>

                <div class="teacher--header d-flex justify-content-center align-items-start">
                    <div class="teacher--left">
                        <h5 class="teacher--title">Контакты:</h5>
                    </div>
                    <div class="teacher--right">
                        <ul>
                            <li class="teacher--txt">Тел. 0312545641, init@ksucta.info</li>
                        </ul>
                    </div>
                </div>

        </div>
    </section>
{% endblock %}